@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.carousel-container {
	padding: 0 10px; /* Add padding to the container */
}

.carousel-item {
	padding: 0 10px; /* Maintain padding */
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-scroll {
	animation: scroll 30s linear infinite;
}

/* Optional: Pause animation on hover */
.animate-scroll:hover {
	animation-play-state: paused;
}
/* Custom styles for gallery grid */
.gallery-grid {
	@apply flex flex-wrap justify-center gap-4; /* Use Flexbox to center items */
}

.gallery-item {
	@apply flex; /* Ensure the item is a flex container */
	flex-direction: column; /* Align items vertically */
}
