@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #edeade;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
